
<configuration>
    <system.web>
        <compilation debug="true" />
        <customErrors mode="Off" />
        <httpRuntime maxRequestLength="3072"/>
    </system.web>
    <appSettings>
        <add key="LocalDatabase" value="Server=DESKTOP-VQ80M8F;initial Catalog=StockMarket;uid=sa;pwd=978729102002;pooling=false"></add>
         <add key="spaddBroker" value="EXEC sp_Broker "></add>       
        <add key="spaddcompany" value="EXEC sp_Company "></add>    
        <add key="spInvestor" value="EXEC spInvestor "></add>
        <add key="spExchange" value="EXEC sp_logexchange "></add>    
         <add key="spBroker" value="EXEC sp_logbroker "></add>     
         <add key="spcompany" value="EXEC sp_logcompany "></add> 
           <add key="sp_logInvestors" value="EXEC sp_loginvestors "></add> 
          <add key="spInvestorsign" value="EXEC spInvestorSign "></add>    
           <add key="spbrokerapprove" value="EXEC spBrokerApprove "></add>
           <add key="spbrokerApprove" value="EXEC spBrokerApproval "></add>    
           <add key="spcompanyApprove" value="EXEC spCompanyApproval "></add>
           <add key="spcompanyReject" value="EXEC spCompanyReject "></add>
           <add key="spinvestoraccept" value="EXEC spInvestorAccept "></add>
           <add key="spinvestorreject" value="EXEC spInvestorReject "></add>      
          <add key="spForm" value="EXEC FProcedure "></add>    
         <add key="spRetailer" value="EXEC spRetail "></add>     
          <add key="sporderform" value="EXEC spOrderForm "></add>   
            <add key="spbrokerroute" value="EXEC spBrokerRoute "></add>
            <add key="spordermatch" value="EXEC spOrderMatch "></add>  
             <add key="sporderdisplay" value="EXEC spOrderDisplay "></add>             
    </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="DisplayData.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>